@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lexend&display=swap');
.book.font-family-1 {
  font-family: 'Lexend', sans-serif;
 }
  .summary{
  font-family: 'Lexend', sans-serif;
}
code {
  white-space: inherit;
  font-family: 'Fira Mono', monospace !important;
  font-weight: bolder !important;
  background-color: #f7f7f7 !important;
  color: #333333 !important;
  border-radius: 5px 5px 5px;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
