@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lexend&display=swap');
.book.font-family-1 {
  font-family: 'Lexend', sans-serif;
 }
  .summary{
  font-family: 'Lexend', sans-serif;
}
code {
  white-space: inherit;
  font-family: 'Fira Mono', monospace !important;
  font-weight: bolder !important;
  background-color: #f7f7f7 !important;
  color: #333333 !important;
  border-radius: 5px 5px 5px;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  background-color: #f7f7f7 !important;
}
pre code {
  white-space: inherit;
}
.book .book-body .page-wrapper .page-inner{
  max-width:1000px !important;margin:0 auto;padding:20px 0 40px
}
@media (max-width:1440px){
  .book .book-body .navigation{
    position:static;top:auto;max-width:50%;width:50%;display:inline-block;float:left
  }
  .book .book-body .navigation.navigation-unique{
  max-width:100%;width:100%
  }
}
@media (max-width:1440px){
  .book .book-body{
    -webkit-transition:-webkit-transform 250ms ease;-moz-transition:-moz-transform 250ms ease;-o-transition:-o-transform 250ms ease;transition:transform 250ms ease;padding-bottom:20px
  }
  .book .book-body .body-inner{
    position:static;min-height:calc(100% - 50px)
  }
}
.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Rchunk {
  border: 3px solid #808080 !important;
  font-weight: bolder;
  background-color: #f7f7f7 !important;
  border-radius: 5px 5px 5px;
}
.tippy-tooltip {
  font-size: 16px;
  padding: 3px 5px;
}